<h1>Create a new question</h1>

<form action="/tests/<%= params[:test_id] %>/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
    <label for="question-body">Question:</label>
    <input type="text" name="questions[body]" id="question-body">
  </p><br>

  <input type="submit" value="Create">
</form>
