<footer>
  <hr>
    <h1>Учебный проект в онлайн-школе Thinknetica</h1>
    <p><b>Адамова Альбина</b></p>
    <%= link_to 'Ссылка на GitHub автора', github_url('reitsukiko', 'test-guru') %><br>
    <a href="https://thinknetica.com/" target="_blank">Сайт онлайн-школы Thinknetica</a><br>
    <%= current_year %>
  <hr>
</footer>
